name = "smoltbot-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# Custom domain
routes = [
  { pattern = "api.mnemom.ai", custom_domain = true }
]

workers_dev = true
